



.gallery-container{
  margin:4rem 0;

    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));

    gap:1rem;
}

.gallery-item{
  transition:.3s;
    box-shadow:1rem 0 5rem rgb(173, 173, 173);
}

.gallery-item h4{
padding:1rem;
font-size: 18px;
}

.gallery-item:hover{
 
  box-shadow:1rem 0 1rem var(--main-color);
}

.gallery-container  .gallery-img{
    position: relative;
    height: 220px;
    overflow:hidden;
}

.gallery-container  .img{
  width: 100%;
  height: 100%;
  transition: .4s;
}


.gallery-container   .gallery-img .overlay{
    position: absolute;
    top: 0;
    right:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:2rem;
    color:#fff;
    opacity:0;
    visibility:hidden;
  transition: .5s;

  }

  .gallery-container   .gallery-img:hover .overlay{
    opacity:1;
    visibility:visible;
    transform: scale(1.2);

  }

.gallery-container  .img:hover{
    transform: scale(1.2);
  }

  .popup {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 8;
  }
  
  .hide {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .popup-content {
    position: absolute;
    top: 15%;
    left: 20%;
  }
  .popup button {
    background-color: #fff;
    padding: 20px 20px;
    color: #000;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-weight: bold;
    border:none;
    outline:none;
  }

  .popup-img{
    width:580px;
  }