@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-color:rgb(131, 112, 29);
  --dark:#2e2e2e;
  --text-color:rgb(141, 140, 140);
}
body {
  font-family: "Poppins", sans-serif;
}

h2{
  font-size: 1rem;
  color: var(--main-color);
}
a {
  text-decoration: none;
}

button{
  border:none;
  outline:none;
}

.container {
  max-width: 85%;
  margin: auto;
}
li {
  list-style-type: none;
}

.btn{
  display: inline-block;
  width: fit-content;
  background-color: var(--main-color);
  color:#fff;
  border-radius: 5px;
  padding: .8rem 1.2rem;
}

input,
textarea{
  border:none;
  outline:none;
  width: 100%;
  padding: 20px;
}